<% include ../partials/header %>

<h1>Search Show Page</h1>


<h2><%= bigOvenRecipeAbridged.title %></h2>
<br>
<img height="250" width="250" src="<%= bigOvenRecipeAbridged.image %>" alt="">	

</br>
<% bigOvenRecipeAbridged.ingredients.forEach(function(ingredient){ %>
	
	<%= ingredient.displayQuantity %>
	<% if (ingredient.unit !== null){ %>
		<%= ingredient.unit %>	
	<% } %>
	<%= ingredient.name %>
	</br>
<% }) %>
</br>
<%= bigOvenRecipeAbridged.instructions %>
</br>


<form action="/recipes" method="POST">
	<input type="hidden" name="recipe[image]" value="<%= bigOvenRecipeAbridged.image %>">
	<input type="hidden" name="recipe[title]" value="<%= bigOvenRecipeAbridged.title %>">
	<input type="hidden" name="recipe[instructions]" value="<%= bigOvenRecipeAbridged.instructions %>">

	<% bigOvenRecipeAbridged.ingredients.forEach(function(ingredient, index){ %>
		<input type="hidden" name="recipe[ingredients][<%=index%>][unit]" value="<%= ingredient.unit %>">
		<input type="hidden" name="recipe[ingredients][<%=index%>][name]" value="<%= ingredient.name %>">
		<input type="hidden" name="recipe[ingredients][<%=index%>][displayQuantity]" value="<%= ingredient.displayQuantity %>">			
	<% }) %>
	
	<button type="submit" class="btn btn-default">Save</button>
</form>


<% include ../partials/footer %>

