<% include ../partials/header %>

<h1>Search Show Page</h1>



<img height="250" width="250" src="<%= bigOvenRecipeAbridged.image %>" alt="">	
<%= bigOvenRecipeAbridged.title %>
</br>
<% bigOvenRecipeAbridged.ingredients.forEach(function(ingredient){ %>
	
	<%= ingredient.displayQuantity %>
	<% if (ingredient.unit !== null){ %>
		<%= ingredient.unit %>	
	<% } %>
	<%= ingredient.name %>
	</br>
<% }) %>
</br>
<%= bigOvenRecipeAbridged.instructions %>
</br>


<form action="/recipes" method="POST">
	<input type="text" name="recipe[image]" value="<%= bigOvenRecipeAbridged.image %>">
	<input type="text" name="recipe[title]" value="<%= bigOvenRecipeAbridged.title %>">
	<input type="text" name="recipe[ingredients]" value="<%= bigOvenRecipeAbridged.ingredients %>">
	<input type="text" name="recipe[instructions]" value="<%= bigOvenRecipeAbridged.instructions %>">
	<button type="submit" class="btn btn-default">Save</button>
</form>


<% include ../partials/footer %>

