<% include ../partials/header %>

<h1>One Recipe Show Page</h1>



<img height="250" width="250" src="<%= recipe.image %>" alt="">	
<%= recipe.title %>
</br>
<% recipe.ingredients.forEach(function(ingredient){ %>
	
	<%= ingredient.displayQuantity %>
	<% if (ingredient.unit !== null){ %>
		<%= ingredient.unit %>	
	<% } %>
	<%= ingredient.name %>
	</br>
<% }) %>
</br>
<%= recipe.instructions %>
</br>



<% include ../partials/footer %>

