<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Bootstrap: Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/comments.js"></script> 
</head>
<body>

<div id="banner"> 
    <a href="/">
        <img src="http://www.thelogomix.com/files/imagecache/240/ChefPen.jpg" id="logo-banner" alt="ADAmap">
    </a>
    <a href="/">
        <div class="banner-content" id="photo-div" style='background-image: url(/assets/DefaultPersonPhoto.png);'></div>
    </a>
		<a href="/search" class="banner-content" id="banner-search"> Search</a>
    <a href="/logout" class="banner-content" id="banner-logout"> Logout</a>
    <a href="/login" class="banner-content" id="banner-login"> Login</a>
</div>

<h1>One Recipe Show Page</h1>

<!-- TODO make the user name a link to look at the user's personal page -->
<h3>by <%= recipe.user.userName %></h3>


<img height="250" width="250" src="<%= recipe.image %>" alt="">	
<%= recipe.title %>
<br>
<% recipe.ingredients.forEach(function(ingredient){ %>
	<%= ingredient.displayQuantity %>
	<% if (ingredient.unit !== null){ %>
		<%= ingredient.unit %>	
	<% } %>
	<%= ingredient.name %>
	<br>
<% }) %>
<br>
<%= recipe.instructions %>
<br>

<%= recipe.comments.length %> comments 

<form id="newCommentForm" action="/recipes/<%= recipe._id %>/comments" method="POST">
	<div class="form-group">
		<label for="comment[body]"></label>
      <input type="hidden" id="recipeId" value="<%= recipe._id %>">
      <textarea name="comment[body]" id="newComment" cols="40" rows="5" placeholder="add your comment"></textarea>
  </div>
		<input type="submit" value="save" class="btn btn-lg btn-success">
</form>


<table class="table table-striped">
<tbody>

<% for (var i = recipe.comments.length - 1; i >= 0; i--) { %>
	<tr> 
		<td><%=	recipe.comments[i].body %></td> 
		
		<% if (recipe.comments[i].user){ %>
		<td><%= recipe.comments[i].user.userName %></td>	
		<%	} %>
	</tr>
<% }; %>

</tbody>
</table>

<% include ../partials/footer %>

